[Unit]
Description=weed-master-server
After=network.target

[Service]
ExecStart=/usr/local/bin/weed filer -master="localhost:9333" -port=8888
Restart=on-failure

[Install]
WantedBy=multi-user.target
