[Unit]
Description=weed-volume-server2
After=network.target

[Service]
ExecStart=/usr/local/bin/weed volume -dir="/seaweedfs/block/2" -max=10  -mserver="localhost:9333" -port=8081
Restart=on-failure

[Install]
WantedBy=multi-user.target
