[Unit]
Description=weed-master-server
After=network.target

[Service]
ExecStart=/usr/local/bin/weed mount -filer="localhost:8888" -dir="/seaweedfs/mount"
Restart=on-failure

[Install]
WantedBy=multi-user.target
